.borderPane {-fx-background-color: #261C2C }

.label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-text-fill: #6E85B2;
    -fx-font-size: 18;
}

.button {
    -fx-background-color: #3E2C41;
    -fx-border-color: #6E85B2;
    -fx-text-fill:  #6E85B2;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 20;
    -fx-background-radius: 2.5em;
    -fx-border-radius: 2.5em;
    -fx-pref-width: 200;
    -fx-pref-height: 70;
}

.choice-box {
    -fx-background-color: #261C2C;
    -fx-border-color: #6E85B2;
    -fx-border-radius: 2.5em;
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-font-size: 18;
}

.choice-box .label {
    -fx-text-fill: #6E85B2;
}

.choice-box .context-menu {
    -fx-background-color: #261C2C;
}

.choice-box .menu-item:focused {
    -fx-background-color: #6E85B2;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #261C2C;
}

.gameButton {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 15;
}

.slider .track{
    -fx-border-color: #6E85B2;
    -fx-background-color: #261C2C;
    -fx-pref-height: 20;
}

.slider .thumb{
    -fx-border-color: #6E85B2;
    -fx-background-color: #261C2C;
    -fx-border-radius: 2.5em;
    -fx-pref-width: 30;
}

.slider .thumb:pressed {
    -fx-background-color: #6E85B2;
}